name: Unit tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  unittests:
    name: Unit tests - Python ${{ matrix.python-version }} (${{ matrix.os }})

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Set up Micromamba
      uses: mamba-org/setup-micromamba@v2
      with:
        environment-name: test
        create-args: >-
          python=${{ matrix.python-version }}
          pip
        cache-environment: true
        cache-downloads: true
        init-shell: bash
    - name: Install MultiNest
      shell: micromamba-shell {0}
      run: |
        micromamba install -y -n test conda-forge:multinest
    - name: Install dependencies
      shell: micromamba-shell {0}
      run: |
        python -m pip install --upgrade pip
        pip install .[test]
    - name: Test with pytest
      shell: micromamba-shell {0}
      run: |
        python -m pytest
